:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#434455;
    background-color: #FFFFFF;
}

.container {
    width:1158px;
    padding-inline: 15px;
    margin-inline: auto;
}

.head-container {
    display: flex;
    gap:332px;
}

.container-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:48px;
}

.section {
    padding-block: 120px;
}

.navigation {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}

.filter-button {
    font-family: inherit;
    cursor: pointer;
    color: var(--iris);
    background-color: var(--cloud);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--ocean);
    color: var(--white);
    border: 1px solid transparent;
}

.link {
    color: #2E2F42;
    text-decoration: none;
    padding: 24px 0;
    display:inline-block;
}

.link-port {
    padding: 0 0 32px 0;
}

.address-link {
    color: #434455;
    text-decoration: none;
    letter-spacing: 0.32px;
    line-height: 1.5;
}

.address-link:hover,
.address-link:focus {
    color: var(--ocean);
}

.foo-section {
    background-color: var(--navy-blue);
    color: var(--cloud);
    padding: 100px 0;
}

.logo {
    text-decoration: none;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    display:inline-block;
}

.link:hover,
.link:focus {
    color:#404BBF;
}

.link-foo {
    color: var(--cloud);
}

.address-list {
    list-style: none;
    display:flex;
    gap: 40px;
    justify-content:flex-end;
}

.list {
    list-style:none;
    display:flex;
    gap: 24px;
}

.title {
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: white;
    text-align: center;
    max-width: 496px;
}

.title-section {
    background-color: var(--navy-blue);
    padding: 188px 0;
    justify-content: center;
}

.header-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.4px;
    color:#2E2F42;
    margin-bottom: 8px;
}

.desc-header-third {
    color: var(--slate);
    letter-spacing: 0.02em;
}

.btn {
    font-family: inherit;
    color: var(--white);
    background-color: var(--iris);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width:169px;
    height:56px;
    border:none;
    border-radius:4px;
}

.btn:hover,
.btn:focus {
    color: var(--white);
    background-color: var(--ocean);
    cursor: pointer;
}

.sec-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 72px;
    display: block;
}

.address {
    font-style: normal;
    display:flex;
    justify-content: space-between;
}

.team-section {
    background-color: #F4F4FD;
}

.team-list {
    background-color: #FFFFFF;
    width:calc((100%-72px)/4);
    border-radius:0px 0px 4px 4px;
}

.paragraph-foo {
    line-height: 1.5;
    letter-spacing: 0.02em;
    display:block;
    width: 264px;
}

.works-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.works-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.img {
    display: block;
}

.nav {
    display:flex;
    align-items: center;
}

.header-one {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.values-list {
    width: calc((100% - 72px) / 4);
}

.team-container {
    padding: 32px 0px;
    text-align: center;
}

.foo-block {
    margin-bottom: 16px;
    display:inline-block;

}

.portfolio-section {
    padding:96px 0 120px 0;
}

.button-list {
    display:flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.portfolio-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-elements {
    width: calc((100% - 48px) / 3);
}

.desc-portfolio-element {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.img-elem {
    width: calc((100% - 48px) / 3);
}